.flex-box-container-1, 
.flex-box-rps,
.flex-box-pick-color,
.flex-blackjack-row-1,
.flex-blackjack-row-2,
.flex-blackjack-row-3 {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.container-1,
.container-2,
.container-3,
.container-4,
.container-5 {
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

.container-2 button, 
.container-3 button {
    margin-bottom: 10px;
}

.flex-box-container-2 > img {
    border: 1px solid green;
    padding: 10px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}   

/* rock, paper, scissors css */
.container-3 {
    border: 1px solid blue;
    margin: 0 auto;
    text-align: center;
}

.flex-box-rps img {
    width: 150px;
    height: 150px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
    margin: 10px;
}

.flex-box-rps img:hover {
    box-shadow: 0 10px 50px rgba(37, 50, 233, 1);
}

/* blackjack game css */

.flex-blackjack-row-3 table, 
.flex-blackjack-row-3 tr, 
.flex-blackjack-row-3 th {
    border: 1px solid black;
    padding: 5px;
}

.flex-blackjack-row-1,
.flex-blackjack-row-2 {
    background: url("https://media.istockphoto.com/vectors/poker-table-background-in-green-color-vector-id1218355494?k=20&m=1218355494&s=612x612&w=0&h=7izk2bQU_LDnKLLLbwAolAo4kwUmcwr_mo8_Vr7955w=");
    color: #fff;
}

.flex-blackjack-row-1 div {
    border: 1px solid black;
    padding: 10px;
    height: 450px;
    flex: 2;
    text-align: center;
}

.flex-blackjack-row-1 img {
    width: 25%;
    padding: 10px;
}

.flex-blackjack-row-1 div img {
    height: auto;
}

.flex-blackjack-row-2 div {
    border: 1px solid black;
    padding: 10px;
}